pydantic_core==2.27.2
wandb==0.19.7
nvidia-nvtx-cu12==12.4.127
nvidia-cusparselt-cu12==0.6.2
annotated-types==0.7.0
kaggle==1.6.17
pytorch-metric-learning==2.8.1
torch==2.6.0
nvidia-cuda-nvrtc-cu12==12.4.127
text-unidecode==1.3
lightning-utilities==0.14.1
nvidia-cudnn-cu12==9.1.0.70
torchsummary==1.5.1
triton==3.2.0
torchmetrics==1.6.3
nvidia-cublas-cu12==12.4.5.8
sentry-sdk==2.22.0
pydantic==2.10.6
ruamel.yaml.clib==0.2.12
nvidia-cusolver-cu12==11.6.1.9
nvidia-nvjitlink-cu12==12.4.127
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
torchvision==0.21.0
protobuf==5.29.3
certifi==2025.1.31
docker-pycreds==0.4.0
python-slugify==8.0.4
setproctitle==1.3.5
click==8.1.8
typing_extensions==4.12.2
mpmath==1.3.0
gitdb==4.0.12
sympy==1.13.1
ruamel.yaml==0.18.10
filelock==3.17.0
einops==0.8.1
tqdm==4.67.1
GitPython==3.1.44
nvidia-nccl-cu12==2.21.5
nvidia-cuda-runtime-cu12==12.4.127
smmap==5.0.2
nvidia-cusparse-cu12==12.3.1.170
nvidia-cuda-cupti-cu12==12.4.127
torch-fidelity==0.3.0
xyzservices==2022.9.0
entrypoints==0.4
matplotlib-inline==0.1.6
PyWavelets==1.4.1
jupyter_client==7.4.8
networkx==2.8.4
pexpect==4.8.0
mkl-random==1.2.2
jupyter_core==5.1.1
jupyter-server==1.23.4
attrs==22.1.0
Send2Trash==1.8.0
gpustat==0.6.0
scipy==1.10.0
fonttools==4.25.0
cffi==1.15.1
pooch==1.4.0
cycler==0.11.0
typing_extensions==4.4.0
cytoolz==0.12.0
defusedxml==0.7.1
six==1.16.0
urllib3==1.26.14
partd==1.2.0
blessings==1.7
pure-eval==0.2.2
charset-normalizer==2.0.4
terminado==0.17.1
debugpy==1.5.1
contourpy==1.0.5
decorator==5.1.1
tifffile==2021.7.2
soupsieve==2.3.2.post1
bleach==4.1.0
cloudpickle==2.0.0
jsonschema==4.16.0
fsspec==2022.11.0
requests==2.28.1
pyparsing==3.0.9
setuptools==65.6.3
prompt-toolkit==3.0.36
numba==0.55.1
python-dateutil==2.8.2
nbconvert==6.5.4
lxml==4.9.1
pyrsistent==0.18.0
brotlipy==0.7.0
wcwidth==0.2.5
imageio==2.19.3
MarkupSafe==2.1.1
certifi==2022.12.7
toolz==0.12.0
webencodings==0.5.1
idna==3.4
jupyterlab-pygments==0.1.2
notebook_shim==0.2.2
cryptography==38.0.4
mistune==0.8.4
traitlets==5.7.1
pandocfilters==1.5.0
argon2-cffi==21.3.0
nbclassic==0.4.8
torchvision==0.14.1
packaging==22.0
mkl-fft==1.3.1
scikit-learn==1.0.1
Pygments==2.11.2
pandas==1.5.2
pickleshare==0.7.5
nbclient==0.5.13
locket==1.0.0
nvidia-ml-py3==7.352.0
beautifulsoup4==4.11.1
asttokens==2.0.5
ipython-genutils==0.2.0
torchaudio==0.13.1
pyOpenSSL==22.0.0
Pillow==9.3.0
scikit-image==0.19.3
platformdirs==2.5.2
llvmlite==0.38.0
ptyprocess==0.7.0
toml==0.10.2
argon2-cffi-bindings==21.2.0
appdirs==1.4.4
nest-asyncio==1.5.6
torch==1.13.1
pytz==2022.7
backcall==0.2.0
Cython==0.29.32
jedi==0.18.1
parso==0.8.3
prometheus-client==0.14.1
ipython==8.8.0
ipykernel==6.19.2
imagecodecs==2021.8.26
joblib==1.1.1
nbformat==5.7.0
tinycss2==1.2.1
tornado==6.2
websocket-client==0.58.0
wheel==0.37.1
dask==2022.7.0
numpy==1.21.5
PySocks==1.7.1
PyYAML==6.0
notebook==6.5.2
numexpr==2.8.4
matplotlib==3.6.2
threadpoolctl==2.2.0
Jinja2==3.1.2
kiwisolver==1.4.4
ply==3.11
munkres==1.1.4
bokeh==3.0.3
pycparser==2.21
anyio==3.5.0
sniffio==1.2.0
comm==0.1.2
pyzmq==23.2.0
psutil==5.9.0
Bottleneck==1.3.5
sip==6.6.2
scikit-learn-intelex==2021.20221004.171507
flit_core==3.6.0
daal4py==2021.6.0
executing==0.8.3
pip==22.3.1
mkl-service==2.4.0
stack-data==0.2.0
fastjsonschema==2.16.2
conda-pack==0.6.0
PyQt5-sip==12.11.0
